@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cwTeXYen", sans-serif;
}
* a {
  text-decoration: none;
}
* input {
  color: #000;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  25% {
    transform: translate3d(0, 2%, 0);
  }
  75% {
    transform: translate3d(0, -2%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
html .btn,
body .btn {
  padding: 5px 20px;
  border: none;
  border-radius: 100px;
  color: #000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: auto;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
html .btn .hidden,
body .btn .hidden {
  display: none;
}
html .btn:hover .visible,
body .btn:hover .visible {
  display: none;
}
html .btn:hover .hidden,
body .btn:hover .hidden {
  display: block;
}
html .btn_style,
body .btn_style {
  background-color: #4e4e4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;
}
html .btn_style:hover,
body .btn_style:hover {
  background-color: #fff;
  color: #4e4e4e;
  outline: #4e4e4e 1px solid;
}
html #btn_add,
body #btn_add {
  background-color: rgb(0, 159, 65);
  color: #fff;
  transition: 0.5s;
  width: 5rem;
}
html #btn_add:hover,
body #btn_add:hover {
  background-color: #fff;
  color: rgb(0, 159, 65);
  outline: rgb(0, 159, 65) 1px solid;
  transform: translateY(-5px);
}
html .delbtn,
body .delbtn {
  color: #000;
  transition: 0.5s;
  width: 5rem;
}
html .delbtn:hover,
body .delbtn:hover {
  background-color: #3d3d3d;
  color: #f3f3f3;
}
html .top_btn,
body .top_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(195, 195, 195, 0.337254902);
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: none; /* 預設隱藏 */
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
  z-index: 1000;
}
html .top_btn:hover,
body .top_btn:hover {
  background-color: #c3c3c3;
}

.menu-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  margin-left: 2px;
}
.menu-icon_hamburger {
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  position: relative;
  border-radius: 3px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-icon_hamburger:before, .menu-icon_hamburger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  transform: translateY(-8px);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-icon_hamburger:before {
  transform: translateY(-8px);
}
.menu-icon_hamburger:after {
  transform: translateY(8px);
}
.menu-icon.open .menu-icon_hamburger {
  transform: translateX(-15px);
  background: transparent;
}
.menu-icon.open .menu-icon_hamburger:before {
  transform: translate(15px) rotate(45deg);
  background: rgb(0, 159, 65);
}
.menu-icon.open .menu-icon_hamburger:after {
  transform: translate(15px) rotate(-45deg);
  background: rgb(0, 159, 65);
}

.bg_anime {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.bg_anime .wave-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg_anime .wave-container .wave {
  position: fixed;
  height: 100%;
  bottom: 0;
  fill: rgba(174, 174, 174, 0.2274509804);
  opacity: 0.8;
  animation: moveWave 15s linear infinite alternate-reverse;
}
.bg_anime .wave-container .wave.wave2 {
  animation-duration: 18s;
  opacity: 0.6;
}
@keyframes moveWave {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-45%);
  }
}

body {
  background-color: #f3f3f3;
  margin-top: 60px;
}

header {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease; /* 使導航列隱藏和顯示有過渡動畫 */
}
header.hidden {
  transform: translateY(-100%); /* 隱藏導航列，將其上移至視窗外 */
}
header nav {
  width: 70vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  padding: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 15px 15px 15px 0;
}
header nav div.icon_area a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}
header nav div.icon_area a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
header nav div.icon_area a h3 {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 550;
}
header nav .menu_icon_area {
  display: none;
}
header nav .menu_icon_area .menu-icon {
  cursor: pointer;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  list-style: none;
  margin: 0 10px;
}
header nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: rgb(0, 159, 65);
}
header nav ul li a.active {
  color: rgb(0, 159, 65);
}
header button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 159, 65);
  color: #fff;
  transition: 0.5s;
  height: 40px;
  width: auto;
  padding: 0 20px;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
}
header button i {
  margin-right: 10px;
}
header button p {
  font-size: 1.25rem;
}
header button:hover {
  transform: translateY(-5px);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 15px;
  color: #fff;
  background: linear-gradient(to top right, #93e880, #4fb980);
}
footer p {
  font-size: 1rem;
}

@media screen and (max-width: 1080px) {
  header nav {
    padding: 5px 20px;
    align-items: start;
  }
  header nav div.icon_area a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .menu_icon_area {
    display: block;
  }
  header nav .ul_area {
    display: none;
  }
  header nav .ul_area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9529411765);
  }
  header nav .ul_area ul li {
    margin: 10px 0;
  }
  header nav .ul_area ul li a {
    padding: 10px 20px;
  }
  header nav .ul_area ul:hover {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 850px) {
  #member_center_page aside#sidebar .user-info {
    width: 100%;
    margin: 0;
  }
  #member_center_page aside#sidebar .user-info .user_icon {
    display: none;
  }
  #member_center_page aside#sidebar ul {
    margin-top: 10px;
  }
  #member_center_page aside#sidebar ul li a {
    padding: 5px 0px;
  }
  #member_center_page aside#sidebar ul li a i {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header button i {
    margin-right: 0;
  }
  header button p {
    display: none;
  }
  main .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.accounting_page form {
    width: 90vw;
  }
  #member_center_page {
    width: 95vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  #member_center_page aside#sidebar {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vh 2vw 2vh 2vw;
  }
  #member_center_page aside#sidebar .user-info {
    width: 100px;
    margin-bottom: 0;
  }
  #member_center_page aside#sidebar .user-info .user_icon {
    display: none;
  }
  #member_center_page aside#sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #member_center_page aside#sidebar ul li {
    margin: 0;
  }
  #member_center_page aside#sidebar ul li a {
    padding: 5px 10px;
  }
  #member_center_page aside#sidebar ul li a i {
    display: block;
    margin-right: 0.5rem;
  }
  #member_center_page aside#sidebar ul li.sign_out {
    border-top: none;
    padding-top: 0;
  }
  #member_center_page main.content_area {
    width: 95vw;
    padding: 15px;
  }
  #member_center_page main.content_area .content {
    min-height: 70vh;
  }
  #member_center_page main.content_area .content section div.area {
    padding: 15px;
  }
  #member_center_page main.content_area .content section div.area label {
    margin: 5px;
  }
  #member_center_page main.content_area .content .actions_btn .btn_save {
    margin-left: 0.5rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area {
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding: 10px;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area i.fa-bullhorn {
    display: none;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    border-right: 1.5px solid #ccc;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area p {
    font-size: 0.75rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point {
    display: flex;
    align-items: end;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point h3 {
    font-size: 1.5rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area {
    margin: 0 1rem;
    font-size: 0.5rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area p {
    margin-bottom: 0.25rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area a {
    font-size: 0.75rem;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area .goto_point {
    margin-left: 1rem;
  }
  #member_center_page main.content_area .content#rewards div.area table {
    margin-top: 20px;
    font-size: 0.75rem;
  }
  #member_center_page main.content_area .content#rewards div.area table th {
    font-weight: normal;
  }
  #member_center_page main.content_area .content#rewards div.area table tbody tr td {
    padding: 5px 0;
  }
  #partner_stores_page {
    margin-top: 0rem;
  }
  #partner_stores_page form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    position: relative;
  }
  #partner_stores_page form aside#partner_store {
    width: 90vw;
  }
  #partner_stores_page form aside#partner_store section.search_store i.fa-map-location-dot {
    color: #fff;
    margin-left: 0.5rem;
    display: inline;
  }
  #partner_stores_page form div#store_map {
    position: fixed;
    top: 130px;
    right: -100%;
    width: 90vw;
    opacity: 0;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 9999;
  }
  #partner_stores_page form div#store_map iframe {
    border-radius: 0;
    width: 90vw;
    height: 70vh;
    position: absolute;
    top: 35px;
  }
  #partner_stores_page form div#store_map.show {
    right: 5vw;
    opacity: 1;
  }
}
@media screen and (max-width: 580px) {
  /* 隱藏「類別」和「消費型態」欄位 */
  #myTable th:nth-child(5),
  #myTable th:nth-child(6),
  #myTable td:nth-child(5),
  #myTable td:nth-child(6) {
    /* 消費型態欄位 */
    display: none;
  }
  /* 隱藏「類別」和「消費型態」欄位 */
  #example th:nth-child(6),
  #example td:nth-child(6) {
    /* 消費型態欄位 */
    display: none;
  }
  /* 調整字體大小和內邊距 */
  #myTable,
  #example {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px; /* 更小字體 */
  }
  .table_area {
    overflow: hidden;
  }
  .table_area .tableDate_bth div.tableDate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .table_area .tableDate_bth div.tableDate #caret-down {
    display: block;
  }
  .table_area .tableDate_bth div.tableDate .fa-caret-right {
    display: none;
  }
  .table_area .tableDate_bth div.tableDate input[type=date] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 0;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}
@media screen and (max-width: 455px) {
  header nav .ul_area {
    position: absolute;
    left: 70px;
    top: 60px;
  }
  header button {
    padding: 0 15px;
  }
  main div.accounting_page form:hover {
    outline: none;
  }
  main div.accounting_page #today_total {
    animation: none;
  }
  main div.accounting_page .chart_show_button {
    flex-direction: column;
  }
  main div.accounting_page .chart_show_button #chart_button {
    flex-direction: row;
  }
  main div.accounting_page .chart_show_button #chart_button label {
    margin: 5px;
  }
  main div.accounting_page .chart_show_button #chart_button i {
    display: none;
  }
  #member_center_page aside#sidebar {
    width: 90vw;
    padding: 10px;
  }
  #member_center_page aside#sidebar .user-info {
    font-size: 0.75rem;
    margin-right: 1rem;
  }
  #member_center_page aside#sidebar ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #member_center_page aside#sidebar ul li a {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  #member_center_page aside#sidebar ul li a i {
    margin: 0;
  }
  #member_center_page aside#sidebar ul li a span {
    display: none;
  }
  #member_center_page aside#sidebar ul li.sign_out {
    border-left: 1px solid #ccc;
    padding-left: 15px;
  }
  #member_center_page main.content_area {
    width: 95vw;
    padding: 10px;
  }
  #member_center_page main.content_area .content section div.area {
    padding: 15px;
  }
  #member_center_page main.content_area .content section div.area label {
    flex-direction: column;
    align-items: start;
  }
  #member_center_page main.content_area .content section div.area label p {
    padding-bottom: 5px;
  }
  #member_center_page main.content_area .content section div.area label p::after {
    content: "";
  }
  #member_center_page main.content_area .content section div.area label section {
    width: 100%;
    width: 100%;
    margin: 5px;
    font-size: 0.8rem;
    width: 100%;
    margin: 5px;
    font-size: 0.8rem;
  }
  #member_center_page main.content_area .content section div.area label section P {
    min-width: 65px;
  }
  #member_center_page main.content_area .content section div.area label section P {
    min-width: 65px;
  }
  #member_center_page main.content_area .content section div.area label section input {
    width: 80%;
    padding: 0.5rem;
  }
  #member_center_page main.content_area .content section div.area label section button {
    width: 13%;
    padding: 8px 2px;
  }
  #member_center_page main.content_area .content section div.area label section button span {
    display: none;
  }
  #member_center_page main.content_area .content section div.area label section span {
    width: 2%;
  }
  #member_center_page main.content_area .content section div.area label section span b {
    display: none;
  }
  #member_center_page main.content_area .content section div.area #birthday {
    padding: 0.3rem 0.1rem;
  }
  #member_center_page main.content_area .content section #passwordChangeForm {
    padding: 0px;
  }
  #member_center_page main.content_area .content section #passwordChangeForm button {
    width: 20%;
    padding: 8px 2px;
  }
  #member_center_page main.content_area .content section #passwordChangeForm button span {
    display: none;
  }
  #member_center_page main.content_area .content .actions_btn .btn_save {
    margin-left: 0.5rem;
  }
  #member_center_page main.content_area .content div.area {
    overflow: hidden;
  }
  #member_center_page main.content_area .content div.area .tableDate_bth div.tableDate {
    border: none;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #member_center_page main.content_area .content div.area .tableDate_bth div.tableDate input[type=date] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 0;
    letter-spacing: 0.15rem;
    text-align: center;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area {
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding: 10px;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area i.fa-bullhorn {
    display: none;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    border-right: 1.5px solid #ccc;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area p {
    font-size: 0.75rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point {
    display: flex;
    align-items: end;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point h3 {
    font-size: 1.75rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area {
    margin: 0 1rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area p {
    font-size: 0.65rem;
    margin-bottom: 0.25rem;
    color: gray;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area a {
    font-size: 0.75rem;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area .goto_point {
    margin-left: 1rem;
  }
  #member_center_page main.content_area .content#rewards div.area .point_show_area .goto_point span {
    display: none;
  }
  #member_center_page main.content_area .content#rewards div.area table {
    margin-top: 20px;
    font-size: 0.75rem;
  }
  #member_center_page main.content_area .content#rewards div.area table th {
    font-weight: normal;
  }
  #member_center_page main.content_area .content#rewards div.area table tbody tr td {
    padding: 5px 0;
  }
  #member_center_page main.content_area .content#rewards div.area table tbody tr td:nth-child(1) {
    padding-right: 0.5rem;
  }
}
.container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  /* 隱藏 "顯示條目" 下拉選單和 "顯示第 X 到 Y 筆，共 Z 筆" 的文字 */
  /* 調整分頁按鈕樣式 */
  /* 搜尋框的樣式 */
}
main div.accounting_page {
  flex-wrap: wrap-reverse;
}
main div.accounting_page form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 2vw 2vh 2vw;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: outline 0.5s;
}
main div.accounting_page form:hover {
  outline: 0.5px solid rgb(0, 159, 65); /* 改變外框線 */
}
main div.accounting_page form section {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main div.accounting_page form section label {
  overflow: hidden;
  border-radius: 5px;
}
main div.accounting_page form section label span div {
  display: flex;
  align-items: center;
}
main div.accounting_page form section label span:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(0, 159, 65);
  color: #fff;
}
main div.accounting_page form section input {
  font-family: "cwTeXYen", sans-serif;
}
main div.accounting_page form section input#date {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #000;
}
main div.accounting_page form section input:focus {
  outline: none;
}
main div.accounting_page form section input[type=radio] {
  display: none;
}
main div.accounting_page form section input[type=radio] + span {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
main div.accounting_page form section input[type=radio] + span:hover {
  background-color: rgb(0, 159, 65);
}
main div.accounting_page form section input[type=radio]:checked + span {
  border: none;
  background-color: rgb(0, 159, 65);
  color: #fff;
}
main div.accounting_page form section.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
main div.accounting_page form section.title i {
  margin-right: 0.5rem;
  color: rgb(0, 159, 65);
}
main div.accounting_page form section.item_amount {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main div.accounting_page form section.item_amount label {
  border-radius: 0;
  padding-right: 0.5rem;
  border-right: #ccc 1px solid;
}
main div.accounting_page form section.item_amount input {
  width: 105px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
}
main div.accounting_page form section.change {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main div.accounting_page form section.change select,
main div.accounting_page form section.change input {
  width: 120px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  color: #000;
}
main div.accounting_page form section.change p {
  width: 50px;
  text-align: center;
}
main div.accounting_page form section.CO2_area {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main div.accounting_page form section.btn_area {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main div.accounting_page form section.total_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px 0;
}
main div.accounting_page form section.total_area p.save_carbon {
  margin: 0 10px;
}
main div.accounting_page form.today_total {
  animation: float 2.5s infinite linear;
  overflow: hidden;
}
main div.accounting_page form.today_total hr {
  width: 100%;
  margin: 5px 0;
}
main div.accounting_page form.today_total:hover {
  animation: none;
}
main .dataTables_length,
main .dataTables_info {
  display: none;
}
main .dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 30px;
  padding: 5px 10px;
  margin: 2px;
}
main .dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ddd;
  border-radius: 150px;
  padding: 5px;
  margin-left: 0.5em;
  text-align: center;
}
main .dataTables_wrapper .dataTables_filter input:focus {
  outline: none;
}
main td.sorting_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main td.sorting_1 input {
  margin-right: 1px;
}
main .tableDate_bth {
  display: flex;
  align-items: center;
}
main .tableDate_bth div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tableDate_bth div i {
  margin: 0 10px;
}
main .tableDate_bth div i.fa-caret-down {
  display: none;
}
main .tableDate_bth div input[type=date] {
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 5px 0;
  letter-spacing: 0.15rem;
  text-align: center;
}
main .chart_area .chart_show_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px 20px;
}
main .chart_area .chart_show_button .chart_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .chart_area .chart_show_button .chart_button label {
  margin: 5px 0;
}
main .chart_area .chart_show_button .chart_button label input[type=radio] {
  display: none;
}
main .chart_area .chart_show_button .chart_button label input[type=radio] + span {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
main .chart_area .chart_show_button .chart_button label input[type=radio] + span:hover {
  background-color: gray;
}
main .chart_area .chart_show_button .chart_button label input[type=radio]:checked + span {
  border: none;
  background-color: gray;
  color: #fff;
}

main .member_center_page {
  display: flex;
  justify-content: center;
  align-items: self-start;
}
main .member_center_page aside {
  width: 15vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  margin: 10vh 2vw 2vh 2vw;
}
main .member_center_page aside .user-info {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .member_center_page aside .user-info .user_icon {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
main .member_center_page aside .user-info .user_nameid {
  color: gray;
}
main .member_center_page aside .user-info .user_nameid .user_id {
  font-size: 0.75rem;
}
main .member_center_page aside ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main .member_center_page aside ul li {
  list-style: none;
  margin: 5px 0;
}
main .member_center_page aside ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-radius: 5px;
  color: #000;
  transition: 0.5s;
}
main .member_center_page aside ul li a i {
  margin-right: 10px;
}
main .member_center_page aside ul li a:hover {
  background-color: #ccc;
  color: #fff;
}
main .member_center_page aside ul li a.current {
  background-color: gray;
  color: #fff;
}
main .member_center_page aside ul li.sign_out {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
main .member_center_page main.content_area {
  width: 70vw;
  border-radius: 15px;
  padding: 10vh 20px 20px 20px;
}
main .member_center_page main.content_area .content {
  width: 100%;
}
main .member_center_page main.content_area .content section article.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 1rem;
}
main .member_center_page main.content_area .content section article.title i {
  color: rgb(0, 159, 65);
  margin-right: 0.5rem;
}
main .member_center_page main.content_area .content section div.area {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
main .member_center_page main.content_area .content section div.area label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main .member_center_page main.content_area .content section div.area label p {
  width: 13%;
  min-width: 75px;
}
main .member_center_page main.content_area .content section div.area label p::after {
  content: "：";
}
main .member_center_page main.content_area .content section div.area label section {
  width: 87%;
  display: flex;
  align-items: center;
}
main .member_center_page main.content_area .content section div.area label section input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
}
main .member_center_page main.content_area .content section div.area label section input:focus {
  outline: none;
}
main .member_center_page main.content_area .content section div.area label section input:valid::-moz-placeholder {
  color: #000;
}
main .member_center_page main.content_area .content section div.area label section input:valid::placeholder {
  color: #000;
}
main .member_center_page main.content_area .content section div.area label section input i {
  color: #ccc;
}
main .member_center_page main.content_area .content section div.area label section button {
  width: 15%;
  cursor: pointer;
  color: #000;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}
main .member_center_page main.content_area .content section div.area label section button:focus {
  outline: none;
}
main .member_center_page main.content_area .content section div.area label section button:hover {
  transition: 0.5s;
  background-color: #000;
  color: #fff;
}
main .member_center_page main.content_area .content section div.area label section button span {
  display: none;
}
main .member_center_page main.content_area .content section div.area label section button span.passwordChange {
  display: inline;
  margin: 0;
}
main .member_center_page main.content_area .content section div.area label section span {
  width: 15%;
  margin-left: 5px;
}
main .member_center_page main.content_area .content section div.area label section span i {
  margin-right: 2px;
}
main .member_center_page main.content_area .content section div.area label section span b {
  font-weight: 100;
}
main .member_center_page main.content_area .content section div.area label section span.successful {
  color: rgb(0, 159, 65);
}
main .member_center_page main.content_area .content section div.area label section span.error {
  color: red;
}
main .member_center_page main.content_area .content section div.area label #birthday {
  padding: 0;
  background-color: none;
}
main .member_center_page main.content_area .content section #passwordChangeForm {
  background-color: none;
  border-radius: none;
  padding: 0;
  margin-bottom: 0;
}
main .member_center_page main.content_area .content section #passwordChangeForm label div {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
main .member_center_page main.content_area .content section #passwordChangeForm label div input {
  width: 100%;
  border: none;
}
main .member_center_page main.content_area .content .actions_btn {
  display: flex;
  justify-content: right;
}
main .member_center_page main.content_area .content .actions_btn .btn_save {
  margin-left: 1rem;
  background-color: rgb(0, 159, 65);
  color: #fff;
  transition: 0.5s;
}
main .member_center_page main.content_area .content .actions_btn .btn_save:hover {
  background-color: #fff;
  color: rgb(0, 159, 65);
  outline: rgb(0, 159, 65) 1px solid;
  transform: translateY(-5px);
}
main .member_center_page main.content_area .content div.area .tableDate_bth div.tableDate {
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-bottom: 10px;
}
main .member_center_page main.content_area .content div.area .tableDate_bth div.tableDate input {
  outline: none;
  border: none;
  background-color: none;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  padding: 10px;
  overflow: hidden;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area i.fa-bullhorn {
  transform: rotate(-10deg);
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  border-right: 1.5px solid #ccc;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area p {
  font-size: 1rem;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point {
  display: flex;
  align-items: end;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.point_area .point h3 {
  font-size: 2rem;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area {
  font-size: 1rem;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area p {
  margin-bottom: 0.5rem;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area div.text_area a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area .goto_point {
  background-color: #4e4e4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area .goto_point:hover {
  background-color: #fff;
  color: #4e4e4e;
  outline: #4e4e4e 1px solid;
  transform: translateY(-5px);
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  border-radius: 15px;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog .dialog-content {
  margin: 20px;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog .dialog-content h3 {
  margin-bottom: 10px;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog .dialog-content ol {
  padding-left: 2rem;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog .dialog-content ol li {
  margin: 5px 0;
}
main .member_center_page main.content_area .content#rewards div.area .point_show_area dialog span {
  display: flex;
  justify-content: center;
}
main .member_center_page main.content_area .content#rewards div.area table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
main .member_center_page main.content_area .content#rewards div.area table thead th {
  text-align: left;
  color: #666;
  padding-bottom: 10px;
}
main .member_center_page main.content_area .content#rewards div.area table thead th:last-child {
  text-align: right;
}
main .member_center_page main.content_area .content#rewards div.area table tbody tr td {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
main .member_center_page main.content_area .content#rewards div.area table tbody tr td:nth-child(3) {
  color: green;
}
main .member_center_page main.content_area .content#rewards div.area table tbody tr td:nth-child(3).negative {
  color: red;
}
main .member_center_page main.content_area .content#rewards div.area table tbody tr td:last-child {
  text-align: right;
  color: #666;
}

main div.partner_stores_page {
  margin-top: 1rem;
}
main div.partner_stores_page form {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  flex-wrap: wrap;
}
main div.partner_stores_page form aside {
  min-width: 265px;
  width: 25vw;
  min-height: 75vh;
}
main div.partner_stores_page form aside section {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
}
main div.partner_stores_page form aside section.search_store {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bf4a;
}
main div.partner_stores_page form aside section.search_store div.search_store_area {
  padding: 4px;
  border: 1px solid #067534;
  background-color: #067534;
  border-radius: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
main div.partner_stores_page form aside section.search_store div.search_store_area i {
  margin-right: 1rem;
}
main div.partner_stores_page form aside section.search_store div.search_store_area input {
  border: none;
  outline: none;
  color: #fff;
  background-color: #067534;
}
main div.partner_stores_page form aside section.search_store div.search_store_area input::-moz-placeholder {
  color: #fff;
}
main div.partner_stores_page form aside section.search_store div.search_store_area input::placeholder {
  color: #fff;
}
main div.partner_stores_page form aside section.search_store i.fa-map-location-dot {
  color: #fff;
  margin-left: 0.5rem;
  display: none;
}
main div.partner_stores_page form aside section.store_select select {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
}
main div.partner_stores_page form aside section.store_list {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-height: 66vh;
  overflow: hidden;
  overflow-y: auto;
}
main div.partner_stores_page form aside section.store_list article.store {
  width: 100%;
  background-color: #fff;
  padding: 10px 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo {
  width: 60%;
  display: flex;
  align-items: center;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo img {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 5px;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo div.store_categoryinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo div.store_categoryinfo p.categoryinfo {
  color: #666;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo div.store_categoryinfo .store_star {
  display: flex;
  align-items: center;
  color: orange;
}
main div.partner_stores_page form aside section.store_list article.store div.store_img_categoryinfo div.store_categoryinfo .store_star i {
  margin-right: 5px;
}
main div.partner_stores_page form aside section.store_list article.store div.store_info_base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
main div.partner_stores_page form aside section.store_list article.store div.store_info_base div {
  overflow: hidden;
  font-size: small;
  width: 100%;
  height: 80%;
  color: #666;
  display: flex;
  align-items: self-start;
}
main div.partner_stores_page form aside section.store_list article.store div.store_info_base div i {
  margin-right: 5px;
}
main div.partner_stores_page form aside section.store_list article.store:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;
}
main div.partner_stores_page form div.map_area iframe {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 60vw;
  height: 75vh;
}/*# sourceMappingURL=style.css.map */