@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cwTeXYen", sans-serif;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  25% {
    transform: translate3d(0, 5%, 0);
  }
  75% {
    transform: translate3d(0, -5%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
html .btn,
body .btn {
  padding: 5px 20px;
  border: none;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 5rem;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
html .btn .hidden,
body .btn .hidden {
  display: none;
}
html .btn:hover .visible,
body .btn:hover .visible {
  display: none;
}
html .btn:hover .hidden,
body .btn:hover .hidden {
  display: block;
}
html #btn_add,
body #btn_add {
  background-color: rgb(0, 159, 65);
  color: #fff;
  transition: 0.5s;
}
html #btn_add:hover,
body #btn_add:hover {
  background-color: #fff;
  color: rgb(0, 159, 65);
  outline: rgb(0, 159, 65) 1px solid;
  transform: translateY(-5px);
}
html .delbtn,
body .delbtn {
  color: #000;
  transition: 0.5s;
}
html .delbtn:hover,
body .delbtn:hover {
  background-color: #3d3d3d;
  color: #f3f3f3;
}
html .top_btn,
body .top_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(195, 195, 195, 0.337254902);
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: none; /* 預設隱藏 */
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
  z-index: 1000;
}
html .top_btn:hover,
body .top_btn:hover {
  background-color: #c3c3c3;
}

.menu-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  margin-left: 2px;
}
.menu-icon_hamburger {
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  position: relative;
  border-radius: 3px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-icon_hamburger:before, .menu-icon_hamburger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  transform: translateY(-8px);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-icon_hamburger:before {
  transform: translateY(-8px);
}
.menu-icon_hamburger:after {
  transform: translateY(8px);
}
.menu-icon.open .menu-icon_hamburger {
  transform: translateX(-15px);
  background: transparent;
}
.menu-icon.open .menu-icon_hamburger:before {
  transform: translate(15px) rotate(45deg);
  background: rgb(0, 159, 65);
}
.menu-icon.open .menu-icon_hamburger:after {
  transform: translate(15px) rotate(-45deg);
  background: rgb(0, 159, 65);
}

/*
.bg_anime {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  .wave-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wave {
      position: fixed;
      height: 100%;
      bottom: 0;
      fill: #aeaeae3a;
      opacity: 0.7;
      animation: moveWave 13s linear infinite alternate-reverse;

      &.wave2 {
        animation-duration: 15s;
        opacity: 0.5;
      }
    }
  }

  @keyframes moveWave {
    0% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(-45%);
    }
  }
}
  */
body {
  background-color: #f3f3f3;
  margin-top: 60px;
}

header {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease; /* 使導航列隱藏和顯示有過渡動畫 */
}
header.hidden {
  transform: translateY(-100%); /* 隱藏導航列，將其上移至視窗外 */
}
header nav {
  width: 70vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  padding: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 15px 15px 15px 0;
}
header nav div.icon_area a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}
header nav div.icon_area a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
header nav div.icon_area a h3 {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 550;
}
header nav .menu_icon_area {
  display: none;
}
header nav .menu_icon_area .menu-icon {
  cursor: pointer;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  list-style: none;
  margin: 0 10px;
}
header nav ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  transition: 0.5s;
}
header nav ul li a:hover {
  color: rgb(0, 159, 65);
}
header nav ul li a.active {
  color: rgb(0, 159, 65);
}
header button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 159, 65);
  color: #fff;
  transition: 0.5s;
  height: 40px;
  width: auto;
  padding: 0 20px;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
}
header button i {
  margin-right: 10px;
}
header button p {
  font-size: 1.25rem;
}
header button:hover {
  transform: translateY(-5px);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 15px;
  color: #fff;
  background: linear-gradient(to top right, #93e880, #4fb980);
}
footer p {
  font-size: 1rem;
}

@media screen and (max-width: 1080px) {
  header nav {
    padding: 5px 20px;
    align-items: start;
  }
  header nav div.icon_area a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .menu_icon_area {
    display: block;
  }
  header nav .ul_area {
    display: none;
  }
  header nav .ul_area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9529411765);
  }
  header nav .ul_area ul li {
    margin: 10px 0;
  }
  header nav .ul_area ul li a {
    padding: 10px 20px;
  }
  header nav .ul_area ul:hover {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  header button i {
    margin-right: 0;
  }
  header button p {
    display: none;
  }
  main .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .row-reverse {
    flex-direction: column-reverse;
  }
  form {
    width: 90vw;
  }
}
@media screen and (max-width: 455px) {
  header nav .ul_area {
    position: absolute;
    left: 70px;
    top: 60px;
  }
  header button {
    padding: 0 15px;
  }
  /* 隱藏「類別」和「消費型態」欄位 */
  #myTable th:nth-child(5),
  #myTable th:nth-child(6),
  #myTable td:nth-child(5),
  #myTable td:nth-child(6) {
    /* 消費型態欄位 */
    display: none;
  }
  /* 調整字體大小和內邊距 */
  #myTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px; /* 更小字體 */
  }
  .table_area {
    overflow: hidden;
  }
  .table_area .tableDate_bth div.tableDate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .table_area .tableDate_bth div.tableDate #caret-down {
    display: block;
  }
  .table_area .tableDate_bth div.tableDate .fa-caret-right {
    display: none;
  }
  .table_area .tableDate_bth div.tableDate input[type=date] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 0;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}
.container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  /* 隱藏 "顯示條目" 下拉選單和 "顯示第 X 到 Y 筆，共 Z 筆" 的文字 */
  /* 調整分頁按鈕樣式 */
  /* 搜尋框的樣式 */
}
main form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 2vw 2vh 2vw;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: outline 0.5s;
}
main form:hover {
  outline: 0.5px solid rgb(0, 159, 65); /* 改變外框線 */
}
main form section {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main form section label {
  overflow: hidden;
  border-radius: 5px;
}
main form section label span div {
  display: flex;
  align-items: center;
}
main form section label span:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: rgb(0, 159, 65);
  color: #fff;
}
main form section input {
  font-family: "cwTeXYen", sans-serif;
}
main form section input#date {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #000;
}
main form section input:focus {
  outline: none;
}
main form section input[type=radio] {
  display: none;
}
main form section input[type=radio] + span {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
main form section input[type=radio] + span:hover {
  background-color: rgb(0, 159, 65);
}
main form section input[type=radio]:checked + span {
  border: none;
  background-color: rgb(0, 159, 65);
  color: #fff;
}
main form section.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
main form section.title i {
  margin-right: 0.5rem;
  color: rgb(0, 159, 65);
}
main form section.item_amount {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main form section.item_amount label {
  border-radius: 0;
  padding-right: 0.5rem;
  border-right: #ccc 1px solid;
}
main form section.item_amount input {
  width: 105px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
}
main form section.change {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main form section.change select,
main form section.change input {
  width: 120px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  color: #000;
}
main form section.change p {
  width: 50px;
  text-align: center;
}
main form section.CO2_area {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main form section.btn_area {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main form section.total_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px 0;
}
main form section.total_area p.save_carbon {
  margin: 0 10px;
}
main form.today_total {
  animation: float 2.5s infinite linear;
  overflow: hidden;
}
main form.today_total hr {
  width: 100%;
  margin: 5px 0;
}
main .dataTables_length,
main .dataTables_info {
  display: none;
}
main .dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 30px;
  padding: 5px 10px;
  margin: 2px;
}
main .dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ddd;
  border-radius: 150px;
  padding: 5px;
  margin-left: 0.5em;
  text-align: center;
}
main .dataTables_wrapper .dataTables_filter input:focus {
  outline: none;
}
main td.sorting_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main td.sorting_1 input {
  margin-right: 1px;
}
main .tableDate_bth {
  display: flex;
  align-items: center;
}
main .tableDate_bth div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tableDate_bth div i {
  margin: 0 10px;
}
main .tableDate_bth div i.fa-caret-down {
  display: none;
}
main .tableDate_bth div input[type=date] {
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 5px 0;
  letter-spacing: 0.15rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */