// 色彩設定
$bg_color: #f3f3f3;
$green: rgb(0, 159, 65);
$white: #fff;
$black: #000;
$gray: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cwTeXYen", sans-serif; // cwTeXYen (Chinese Traditional) 圓體字體
  a {
    text-decoration: none;
  }
  input {
    color: $black;
  }
}

//動畫設定
@keyframes float {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  25% {
    transform: translate3d(0, 2%, 0);
  }
  75% {
    transform: translate3d(0, -2%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

// 按鈕設定
html,
body {
  .btn {
    padding: 5px 20px;
    border: none;
    border-radius: 100px;
    color: $black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: auto;
    transition: 0.5s ease-in-out;
    overflow: hidden;

    .hidden {
      display: none;
    }

    &:hover {
      .visible {
        display: none;
      }
      .hidden {
        display: block;
      }
    }
  }
  // 按鈕樣式
  .btn_style {
    background-color: #4e4e4e;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $white;
      color: #4e4e4e;
      outline: #4e4e4e 1px solid;
    }
  }
  // 新增按鈕
  #btn_add {
    background-color: $green;
    color: $white;
    transition: 0.5s;
    width: 5rem;

    &:hover {
      background-color: $white;
      color: $green;
      outline: $green 1px solid;
      transform: translateY(-5px);
    }
  }
  // 清除按鈕
  .delbtn {
    color: $black;
    transition: 0.5s;
    width: 5rem;
    &:hover {
      background-color: #3d3d3d;
      color: #f3f3f3;
    }
  }
  // 置頂按鈕樣式
  .top_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #c3c3c356;
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: none; /* 預設隱藏 */
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 20px;
    z-index: 1000;

    &:hover {
      background-color: #c3c3c3;
    }
  }
}

//menu按鈕設定
$menu-color: rgb(0, 0, 0);
$menu-color-close: rgb(0, 159, 65);
$fatness: 2px; // 調整fatness為較小值
@mixin transition {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-icon {
  width: 30px; // 調整寬度為原來的一半
  height: 30px; // 調整高度為原來的一半
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px; // 減少內邊距
  cursor: pointer;
  margin-left: 2px; // 減少左邊距
  //   z-index: 1;

  &_hamburger {
    width: 100%;
    height: $fatness;
    background: $menu-color;
    position: relative;
    border-radius: 3px; // 輕微縮小圓角
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: $fatness;
      background: $menu-color;
      border-radius: 3px; // 輕微縮小圓角
      transform: translateY(-8px); // 減少移動距離
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &:before {
      transform: translateY(-8px); // 減少位移
    }
    &:after {
      transform: translateY(8px); // 減少位移
    }
  }

  &.open {
    .menu-icon_hamburger {
      transform: translateX(-15px); // 減少移動距離
      background: transparent;
      &:before {
        transform: translate(15px) rotate(45deg); // 減少旋轉角度
        background: $menu-color-close;
      }
      &:after {
        transform: translate(15px) rotate(-45deg); // 減少旋轉角度
        background: $menu-color-close;
      }
    }
  }
}

// 背景動畫

.bg_anime {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .wave-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wave {
      position: fixed;
      height: 100%;
      bottom: 0;
      fill: #aeaeae3a;
      opacity: 0.8;
      animation: moveWave 15s linear infinite alternate-reverse;

      &.wave2 {
        animation-duration: 18s;
        opacity: 0.6;
      }
    }
  }

  @keyframes moveWave {
    0% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(-45%);
    }
  }
}

// 通用設定
body {
  background-color: $bg_color;
  margin-top: 60px;
}

// 導覽列設定
header {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease; /* 使導航列隱藏和顯示有過渡動畫 */
  &.hidden {
    transform: translateY(-100%); /* 隱藏導航列，將其上移至視窗外 */
  }
  nav {
    width: 70vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 100px;
    padding: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 15px 15px 15px 0;

    div.icon_area {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $black;
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        h3 {
          font-size: 1.5rem;
          letter-spacing: 0.25rem;
          font-weight: 550;
        }
      }
    }

    .menu_icon_area {
      display: none;
      .menu-icon {
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        margin: 0 10px;
        a {
          margin: 0 10px;
          text-decoration: none;
          color: $black;
          font-size: 1.25rem;
          transition: 0.5s;
          &:hover {
            color: $green;
          }
          &.active {
            color: $green;
          }
        }
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    color: $white;
    transition: 0.5s;
    height: 40px;
    width: auto;
    padding: 0 20px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;

    i {
      margin-right: 10px;
    }

    p {
      font-size: 1.25rem;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// 頁腳設定
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 15px;
  color: $white;
  background: linear-gradient(to top right, #93e880, #4fb980);
  p {
    font-size: 1rem;
  }
}

// RWD設定-------------------------------------

@media screen and (max-width: 1080px) {
  header {
    nav {
      padding: 5px 20px;
      align-items: start;

      div.icon_area {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .menu_icon_area {
        display: block;
      }

      .ul_area {
        display: none;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #fffffff3;

          li {
            margin: 10px 0;
            a {
              padding: 10px 20px;
            }
          }

          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }
  }
}
//會員中心-個人帳戶-側邊功能列
@media screen and (max-width: 850px) {
  // 會員中心----------------------------------
  #member_center_page {
    // 側邊功能列
    aside#sidebar {
      .user-info {
        width: 100%;
        margin: 0;
        .user_icon {
          display: none;
        }
      }
      ul {
        margin-top: 10px;
        li {
          a {
            padding: 5px 0px;
            //隱藏圖示
            i {
              display: none;
            }
          }
          //登出
          &.sign_out {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    button {
      i {
        margin-right: 0;
      }
      p {
        display: none;
      }
    }
  }
  main {
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // 綠色帳本----------------------------------------------------------
  div.accounting_page {
    form {
      width: 90vw;
    }
  }
  // 會員中心----------------------------------------------------------
  #member_center_page {
    width: 95vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
    // 側邊功能列
    aside#sidebar {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5vh 2vw 2vh 2vw;
      .user-info {
        width: 100px;
        margin-bottom: 0;
        .user_icon {
          display: none;
        }
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          margin: 0;
          a {
            padding: 5px 10px;
            i {
              display: block;
              margin-right: 0.5rem;
            }
          }
          //登出
          &.sign_out {
            border-top: none;
            padding-top: 0;
          }
        }
      }
    }
    main.content_area {
      width: 95vw;
      padding: 15px;
      //統一設定
      .content {
        min-height: 70vh;
      }
      //個人帳戶------------------------
      .content {
        section {
          // 資料填寫
          div.area {
            padding: 15px;
            label {
              margin: 5px;
            }
          }
        }
        // 操作按鈕
        .actions_btn {
          .btn_save {
            margin-left: 0.5rem;
          }
        }
      }
      //獎勵點數------------------------
      .content#rewards {
        div.area {
          // 點數顯示區塊
          .point_show_area {
            display: flex;
            justify-content: center;
            min-height: 50px;
            padding: 10px;
            //隱藏公告圖示
            i.fa-bullhorn {
              display: none;
            }
            div {
              &.point_area {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0 1rem;
                border-right: 1.5px solid #ccc;
                p {
                  font-size: 0.75rem;
                }
                .point {
                  display: flex;
                  align-items: end;
                  h3 {
                    font-size: 1.5rem;
                  }
                }
              }
              &.text_area {
                margin: 0 1rem;
                font-size: 0.5rem;
                p {
                  margin-bottom: 0.25rem;
                }
                a {
                  font-size: 0.75rem;
                  color: $black;
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
            .goto_point {
              margin-left: 1rem;
            }
          }
          // 表格
          table {
            margin-top: 20px;
            font-size: 0.75rem;
            th {
              font-weight: normal;
            }
            tbody {
              tr {
                td {
                  padding: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
  //合作店家----------------------------------------------------------
  #partner_stores_page {
    margin-top: 0rem;
    form {
      //選擇合作商店
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90vw;
      position: relative;
      aside#partner_store {
        width: 90vw;
        section {
          //搜尋店家
          &.search_store {
            i.fa-map-location-dot {
              color: $white;
              margin-left: 0.5rem;
              display: inline;
            }
          }
        }
      }
      //googleMap
      div#store_map {
        position: fixed;
        top: 130px;
        right: -100%; // 初始位置，隱藏在右側
        width: 90vw;
        opacity: 0; // 初始隱藏，透明度為 0
        transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 9999;
        iframe {
          border-radius: 0;
          width: 90vw;
          height: 70vh;
          position: absolute;
          top: 35px;
        }
        &.show {
          right: 5vw; // 顯示並滑入
          opacity: 1; // 顯示，透明度為 1
        }
      }
    }
  }
}
//DataTabels 表格調整
@media screen and (max-width: 580px) {
  //表格設定
  // 表格設定---------------------
  /* 隱藏「類別」和「消費型態」欄位 */
  #myTable th:nth-child(5),  /* 類別欄位 */
    #myTable th:nth-child(6),  /* 消費型態欄位 */
    #myTable td:nth-child(5),  /* 類別欄位 */
    #myTable td:nth-child(6) {
    /* 消費型態欄位 */
    display: none;
  }
  // 歷史紀錄--表格設定---------------------
  /* 隱藏「類別」和「消費型態」欄位 */
  #example th:nth-child(6),  /* 消費型態欄位 */
    #example td:nth-child(6) {
    /* 消費型態欄位 */
    display: none;
  }
  /* 調整字體大小和內邊距 */
  #myTable,
  #example {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px; /* 更小字體 */
  }

  // 調整表格大小
  .table_area {
    overflow: hidden;
    .tableDate_bth {
      div.tableDate {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #caret-down {
          display: block;
        }

        .fa-caret-right {
          display: none;
        }

        input[type="date"] {
          border: 1px solid #ccc;
          padding: 5px;
          border-radius: 50px;
          margin: 5px 0;
          letter-spacing: 0.15rem;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 455px) {
  header {
    nav {
      .ul_area {
        position: absolute;
        left: 70px;
        top: 60px;
      }
    }
    button {
      padding: 0 15px;
    }
  }
  // 綠色帳本----------------------------------------------------------
  main {
    div.accounting_page {
      form {
        &:hover {
          outline: none;
        }
      }
      // 本日累積不要動畫
      #today_total {
        animation: none;
      }

      // 調整圖表大小
      .chart_show_button {
        flex-direction: column;

        #chart_button {
          flex-direction: row;
          label {
            margin: 5px;
          }
          // 隱藏圖示
          i {
            display: none;
          }
        }
      }
    }
  }
  // 會員中心----------------------------------------------------------
  #member_center_page {
    // 側邊功能列
    aside#sidebar {
      width: 90vw;
      padding: 10px;
      .user-info {
        font-size: 0.75rem;
        margin-right: 1rem;
      }
      ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          a {
            text-align: center;
            padding: 10px;
            font-size: 0.9rem;
            i {
              margin: 0;
            }
            span {
              display: none;
            }
          }
          //登出
          &.sign_out {
            border-left: 1px solid #ccc;
            padding-left: 15px;
          }
        }
      }
    }
    // 主要內容-切換區域-------------------------------
    main.content_area {
      width: 95vw;
      padding: 10px;
      //個人帳戶------------------------
      .content {
        section {
          // 資料填寫
          div.area {
            padding: 15px;
            label {
              flex-direction: column;
              align-items: start;
              p {
                padding-bottom: 5px;
                &::after {
                  content: "";
                }
              }
              section {
                width: 100%;
                width: 100%;
                margin: 5px;
                font-size: 0.8rem;
                P {
                  min-width: 65px;
                }
                width: 100%;
                margin: 5px;
                font-size: 0.8rem;
                P {
                  min-width: 65px;
                }
                input {
                  width: 80%;
                  padding: 0.5rem;
                }
                //驗證按鈕
                button {
                  width: 13%;
                  padding: 8px 2px;
                  span {
                    display: none;
                  }
                }
                //驗證文字
                span {
                  width: 2%;
                  b {
                    display: none;
                  }
                }
              }
            }
            //生日input
            #birthday {
              padding: 0.3rem 0.1rem;
            }
          }
          // 修改密碼區塊
          #passwordChangeForm {
            padding: 0px;
            button {
              width: 20%;
              padding: 8px 2px;
              span {
                display: none;
              }
            }
          }
        }
        // 操作按鈕
        .actions_btn {
          .btn_save {
            margin-left: 0.5rem;
          }
        }
      }
      //歷史紀錄------------------------
      .content {
        div.area {
          //日期按鈕
          overflow: hidden;
          .tableDate_bth {
            div.tableDate {
              border: none;
              margin-bottom: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              input[type="date"] {
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 50px;
                margin: 5px 0;
                letter-spacing: 0.15rem;
                text-align: center;
              }
            }
          }
        }
      }
      //獎勵點數------------------------
      .content#rewards {
        div.area {
          // 點數顯示區塊
          .point_show_area {
            display: flex;
            justify-content: center;
            min-height: 50px;
            padding: 10px;
            //隱藏公告圖示
            i.fa-bullhorn {
              display: none;
            }
            div {
              &.point_area {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0 1rem;
                border-right: 1.5px solid #ccc;
                p {
                  font-size: 0.75rem;
                }
                .point {
                  display: flex;
                  align-items: end;
                  h3 {
                    font-size: 1.75rem;
                  }
                }
              }
              &.text_area {
                margin: 0 1rem;

                p {
                  font-size: 0.65rem;
                  margin-bottom: 0.25rem;
                  color: gray;
                }
                a {
                  font-size: 0.75rem;
                  color: $black;
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
            .goto_point {
              margin-left: 1rem;
              span {
                display: none;
              }
            }
          }
          // 表格
          table {
            margin-top: 20px;
            font-size: 0.75rem;
            th {
              font-weight: normal;
            }
            tbody {
              tr {
                td {
                  padding: 5px 0;
                  //日期欄位
                  &:nth-child(1) {
                    // font-size: 0.5rem;
                    padding-right: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 頁面設定----------------------------------
.container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 首頁

// 綠色帳本----------------------------------------------------------
main {
  // 開始記帳表單
  div.accounting_page {
    flex-wrap: wrap-reverse;
    form {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5vh 2vw 2vh 2vw; //可刪除
      background-color: $white;
      border-radius: 15px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      transition: outline 0.5s;

      &:hover {
        outline: 0.5px solid $green; /* 改變外框線 */
      }

      // 每行區塊
      section {
        margin: 8px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        label {
          overflow: hidden;
          border-radius: 5px;

          span {
            div {
              display: flex;
              align-items: center;
            }

            &:hover {
              transform: scale(1.1);
              transition: 0.5s;
              background-color: $green;
              color: $white;
            }
          }
        }

        input {
          font-family: "cwTeXYen", sans-serif; //圓體字體

          &#date {
            border: none;
            outline: none;
            background: transparent;
            font-size: 1rem;
            color: $black;
          }

          &:focus {
            outline: none;
          }
        }

        // 改變radio按鈕樣式
        input[type="radio"] {
          display: none;

          & + span {
            display: inline-block;
            padding: 10px 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background-color: $green;
            }
          }

          &:checked + span {
            border: none;
            background-color: $green;
            color: $white;
          }
        }

        // 標題
        &.title {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;

          i {
            margin-right: 0.5rem;
            color: $green;
          }
        }

        // 金額區塊
        &.item_amount {
          display: flex;
          align-items: center;
          padding: 5px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;

          label {
            border-radius: 0;
            padding-right: 0.5rem;
            border-right: #ccc 1px solid;
          }

          input {
            width: 105px;
            border: none;
            outline: none;
            background: transparent;
            text-align: center;
            font-size: 1rem;
          }
        }

        // 細項改變區塊
        &.change {
          display: flex;
          align-items: center;
          padding: 5px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;

          select,
          input {
            width: 120px;
            border: none;
            outline: none;
            background: transparent;
            text-align: center;
            font-size: 1rem;
            color: $black;
          }

          p {
            width: 50px;
            text-align: center;
          }
        }

        // 產生碳排放區塊
        &.CO2_area {
          display: flex;
          align-items: center;
          padding: 5px 50px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        // 按鈕區塊
        &.btn_area {
          margin-top: 40px;
          display: flex;
          justify-content: space-around;
          width: 100%;
        }

        // 本日累積區塊---------------------
        &.total_area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 5px 10px;
          // border: 1px solid #ccc;
          border-radius: 5px;
          margin: 2px 0;

          p {
            &.save_carbon {
              margin: 0 10px;
            }
          }
        }
      }
      // 本日累積---------------------
      &.today_total {
        animation: float 2.5s infinite linear;
        overflow: hidden;
        hr {
          width: 100%;
          margin: 5px 0;
        }
        &:hover {
          animation: none;
        }
      }
    }
  }

  // 表格-------------

  /* 隱藏 "顯示條目" 下拉選單和 "顯示第 X 到 Y 筆，共 Z 筆" 的文字 */
  .dataTables_length,
  .dataTables_info {
    display: none;
  }
  /* 調整分頁按鈕樣式 */
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 30px;
    padding: 5px 10px;
    margin: 2px;
  }

  /* 搜尋框的樣式 */
  .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ddd;
    border-radius: 150px;
    padding: 5px;
    margin-left: 0.5em;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  // 表格微調
  // 品項標號&checkbox
  td.sorting_1 {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      margin-right: 1px;
    }
  }

  .tableDate_bth {
    display: flex;
    align-items: center;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin: 0 10px;

        &.fa-caret-down {
          display: none;
        }
      }

      input[type="date"] {
        border: 1px solid #ccc;
        padding: 5px 15px;
        border-radius: 50px;
        margin: 5px 0;
        letter-spacing: 0.15rem;
        text-align: center;
      }
    }
  }

  // 圖表區域--------------------------------
  .chart_area {
    .chart_show_button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 10px 20px;

      .chart_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
          margin: 5px 0;

          input[type="radio"] {
            display: none;

            & + span {
              display: inline-block;
              padding: 10px 15px;
              border: 1px solid #ccc;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.5s;

              &:hover {
                background-color: gray;
              }
            }

            &:checked + span {
              border: none;
              background-color: gray;
              color: $white;
            }
          }
        }
      }
    }
  }
}

// 會員中心----------------------------------------------------------
main {
  .member_center_page {
    display: flex;
    justify-content: center;
    align-items: self-start;
    // 側邊功能列
    aside {
      width: 15vw;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 15px;
      padding: 20px;
      margin: 10vh 2vw 2vh 2vw;

      .user-info {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user_icon {
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: gray;
        }
        .user_nameid {
          color: gray;
          .user_id {
            font-size: 0.75rem;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        li {
          list-style: none;
          margin: 5px 0;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            border-radius: 5px;
            color: $black;
            transition: 0.5s;
            i {
              margin-right: 10px;
            }
            &:hover {
              background-color: $gray;
              color: $white;
            }
            &.current {
              background-color: gray;
              color: $white;
            }
          }
          //登出按鈕
          &.sign_out {
            border-top: 1px solid #ccc;
            padding-top: 10px;
          }
        }
      }
    }
    // 主要內容-切換區域-------------------
    main.content_area {
      width: 70vw;
      border-radius: 15px;
      padding: 10vh 20px 20px 20px;
      //個人帳戶------------------------
      .content {
        width: 100%;
        section {
          // 標題
          article.title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            padding-left: 1rem;
            i {
              color: $green;
              margin-right: 0.5rem;
            }
          }
          // 資料填寫
          div.area {
            background-color: $white;
            border-radius: 15px;
            padding: 30px 40px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              p {
                width: 13%;
                min-width: 75px;
                &::after {
                  content: "：";
                }
              }
              section {
                width: 87%;
                display: flex;
                align-items: center;
                input {
                  width: 70%;
                  padding: 5px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                  text-align: left;
                  font-size: 1rem;
                  &:focus {
                    outline: none;
                  }
                  &:valid::placeholder {
                    color: $black;
                  }

                  i {
                    color: $gray;
                  }
                }
                //驗證按鈕
                button {
                  width: 15%;
                  cursor: pointer;
                  color: $black;
                  padding: 5px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                  text-align: center;
                  margin-left: 5px;
                  &:focus {
                    outline: none;
                  }
                  &:hover {
                    transition: 0.5s;
                    background-color: $black;
                    color: $white;
                  }
                  span {
                    display: none; //發送
                    &.passwordChange {
                      display: inline;
                      margin: 0;
                    }
                  }
                }
                //驗證文字
                span {
                  width: 15%;
                  margin-left: 5px;
                  i {
                    margin-right: 2px;
                  }
                  b {
                    font-weight: 100;
                  }
                  &.successful {
                    color: $green;
                  }
                  &.error {
                    color: red;
                  }
                }
              }
              //生日input
              #birthday {
                padding: 0;
                background-color: none;
              }
            }
          }
          // 修改密碼區塊
          #passwordChangeForm {
            background-color: none;
            border-radius: none;
            padding: 0;
            margin-bottom: 0;
            label {
              div {
                display: flex;
                align-items: center;
                width: 70%;
                padding: 0 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
                text-align: center;
                input {
                  width: 100%;
                  border: none;
                }
              }
            }
          }
        }
        // 操作按鈕
        .actions_btn {
          display: flex;
          justify-content: right;
          //儲存按鈕
          .btn_save {
            margin-left: 1rem;
            background-color: $green;
            color: $white;
            transition: 0.5s;
            &:hover {
              background-color: $white;
              color: $green;
              outline: $green 1px solid;
              transform: translateY(-5px);
            }
          }
        }
      }
      //歷史紀錄------------------------
      .content {
        div.area {
          //日期按鈕
          .tableDate_bth {
            div.tableDate {
              border: 1px solid #ccc;
              border-radius: 50px;
              margin-bottom: 10px;
              input {
                outline: none;
                border: none;
                background-color: none;
              }
            }
          }
        }
      }
      //獎勵點數------------------------
      .content#rewards {
        div.area {
          // 點數顯示區塊
          .point_show_area {
            background-color: $bg_color;
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 50px;
            padding: 10px;
            overflow: hidden;
            i.fa-bullhorn {
              transform: rotate(-10deg);
            }
            div {
              &.point_area {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0 2rem;
                border-right: 1.5px solid #ccc;
                p {
                  font-size: 1rem;
                }
                .point {
                  display: flex;
                  align-items: end;
                  h3 {
                    font-size: 2rem;
                  }
                }
              }
              &.text_area {
                font-size: 1rem;
                p {
                  margin-bottom: 0.5rem;
                }
                a {
                  color: $black;
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
            .goto_point {
              background-color: #4e4e4e;
              color: $white;
              border: none;
              border-radius: 5px;
              padding: 5px 15px;
              cursor: pointer;
              transition: 0.5s;
              &:hover {
                background-color: $white;
                color: #4e4e4e;
                outline: #4e4e4e 1px solid;
                transform: translateY(-5px);
              }
            }
            // 點數核發方式彈窗
            dialog {
              padding: 20px;
              // 置中
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              border: none;
              border-radius: 15px;

              .dialog-content {
                margin: 20px;
                h3 {
                  margin-bottom: 10px;
                }
                ol {
                  padding-left: 2rem;
                  li {
                    margin: 5px 0;
                  }
                }
              }
              //按鈕置中
              span {
                display: flex;
                justify-content: center;
              }
            }
          }
          // 表格
          table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;

            thead {
              th {
                text-align: left;
                color: #666;
                padding-bottom: 10px;
                // 最後一個欄位靠右
                &:last-child {
                  text-align: right;
                }
              }
            }

            tbody {
              tr {
                td {
                  padding: 10px 0;
                  border-top: 1px solid #ddd;

                  &:nth-child(3) {
                    color: green;

                    &.negative {
                      color: red;
                    }
                  }
                  // 最後一個欄位靠右
                  &:last-child {
                    text-align: right;
                    color: #666;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//合作店家
main {
  div.partner_stores_page {
    margin-top: 1rem;
    form {
      display: flex;
      justify-content: space-around;
      align-items: self-start;
      flex-wrap: wrap;
      //選擇合作商店
      aside {
        min-width: 265px;
        width: 25vw;
        min-height: 75vh;
        section {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          padding: 5px;
          background-color: #fff;

          //搜尋店家
          &.search_store {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #00bf4a;
            div.search_store_area {
              padding: 4px;
              border: 1px solid #067534;
              background-color: #067534;
              border-radius: 5px;
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $white;
              i {
                margin-right: 1rem;
              }
              input {
                border: none;
                outline: none;
                color: $white;
                background-color: #067534;
                &::placeholder {
                  color: $white;
                }
              }
            }
            i.fa-map-location-dot {
              color: $white;
              margin-left: 0.5rem;
              display: none;
            }
          }
          //選擇類別
          &.store_select {
            select {
              width: 100%;
              padding: 5px;
              // border: 1px solid #ccc;
              // border-radius: 5px;
              border: none;
              outline: none;
            }
          }
          //店家列表
          &.store_list {
            background-color: $bg_color;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            max-height: 66vh;
            overflow: hidden;
            overflow-y: auto;
            //店家
            article.store {
              width: 100%;
              background-color: #fff;
              padding: 10px 3px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              margin-bottom: 0.3rem;
              // 店家圖片&類別區域
              div.store_img_categoryinfo {
                width: 60%;
                display: flex;
                align-items: center;
                img {
                  width: 60px;
                  height: 60px;
                  margin: 0 10px 0 5px;
                }
                div.store_categoryinfo {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  p.categoryinfo {
                    color: #666;
                  }
                  .store_star {
                    display: flex;
                    align-items: center;
                    color: orange;
                    i {
                      margin-right: 5px;
                    }
                  }
                }
              }
              // 店家資訊
              div.store_info_base {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                // margin-left: 3rem;
                div {
                  overflow: hidden;
                  font-size: small;
                  width: 100%;
                  height: 80%;
                  color: #666;
                  display: flex;
                  align-items: self-start;
                  i {
                    margin-right: 5px;
                  }
                }
              }
              &:hover {
                background-color: #f0f0f0;
                transition: all 0.5s;
              }
            }
          }
        }
      }
      //googleMap
      div.map_area {
        iframe {
          border-radius: 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          width: 60vw;
          height: 75vh;
        }
      }
    }
  }
}
